body,html,div,h1,h2,h3,h4,h5,input,p,button,ol,li,ul,dt,dd,dl,table,th,td,form,textarea,a{
	padding: 0.0rem;
	margin: 0.0rem; 
}
/* html{
	font-size: 50px;
} */
body{
	font-family: "黑体";
	line-height: 1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

a{
	text-decoration: none;
}
ul,li,ol{
	list-style: none;
}
input,button{
	outline: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
　　-webkit-text-fill-color: #fff !important;
 	transition: all 5000s ease-in-out 0s;
}